{% extends "Pagina.html" %} {% block content %}
<script src="https://kit.fontawesome.com/a27eb00200.js" crossorigin="anonymous"></script>
<h2> Detección de neumonia</h2>

<div>
    <form id="upload-file" method="post" enctype="multipart/form-data">
        <label for="imageUpload" class="upload-label">
            <i class="fas fa-camera"></i>
        </label>
        <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg">
    </form>

    <div class="image-section" style="display:none;">
        <div class="img-preview">
            <div id="imagePreview">
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-dark" id="btn-predict">Predicción</button>
        </div>
    </div>

    <div class="loader" style="display:none;"></div>

    <h3 >
        <span id="result"> </span>
    </h3>
    <h3 >
        <span id="Porcentaje"> </span>
    </h3>  
  

</div>

{% endblock %}